<table>
    <thead>
        <tr>
            <th>COM Port</th>
            <th>Status</th>
            <th>SIM Provider</th>
            <th>Phone Number</th>
            <th>CCID</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody id="simTableBody">
        {% for port in simlist %}
        <tr>
            <td>{{ port.com_name }}</td>
            <td>{{ port.status }}</td>
            <td>{{ port.sim_provider }}</td>
            <td>{{ port.phone_number }}</td>
            <td>{{ port.ccid }}</td>
            <td>{{ port.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>