<table>
    <thead>
        <tr>
            <th>COM Port</th>
            
            <th>SIM Provider</th>
            <th>Phone Number</th>
            <th>CCID</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody id="simTableBody">
        {% for sim in simlist %}
        <tr>
            <td>{{ sim.com_name }}</td>
            
            <td>{{ sim.sim_provider }}</td>
            <td>{{ sim.phone_number }}</td>
            <td>{{ sim.ccid }}</td>
            <td>{{ sim.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>